<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"
        alt="Bootstrap"
        width="30"
        height="24"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let route of routes">
          <a *ngIf="route.canActivate" class="nav-link" [routerLink]="route.path">
            {{ route.title }}
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="user">
      <div class="btn-group">
        <span class="navbar-text fw-bold" data-bs-toggle="dropdown">
          {{ user.name }}
        </span>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <button
              class="dropdown-item btn-sm d-flex justify-content-between"
              type="button"
              (click)="logout()"
            >
              Sair
              <i class="bi bi-box-arrow-right"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
