<ng-container>
  <div class="row d-flex justify-content-center">
    <form (ngSubmit)="onSubmit()" class="col-md-5 col-12">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="email"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <div class="position-relative d-flex align-items-center">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                [(ngModel)]="password"
              />
              <span
                class="position-absolute"
                style="right: 15px; cursor: pointer"
                (click)="togglePasswordVisibility()"
              >
                <i class="bi bi-eye-fill" id="icon"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="submit"
            class="btn btn-sm btn-outline-primary rounded-pill px-5 py-2 fw-bold float-end"
          >
            Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>
